* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #252525;
}

h1 {
    position: absolute;
    font-family: Calibri;
    font-size: 2em;
    text-align: center;
    width: 100%;
    top: 10%;
    color: white;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    position: absolute;
    animation: text 5s linear infinite;
    color: white;
    font-family: Calibri;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 3px;
    top: 40%;
    left: 25%;
}

@keyframes text {
    0% {
        display: hidden;
    }
    25% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

.ring {
    top: 30%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 0 3px 0 #ffffff;
    animation: ring 2s linear infinite;
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}